# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build
build/

# OS
.DS_Store
Thumbs.db

# Bases de datos SQLite
backend/*.db
